
@mixin create-pulse($name, $color) {
  .blob-#{$name} {
    box-shadow: 0 0 0 0 $color;
    animation: pulse-#{$name} 2s infinite;
  }

  @keyframes pulse-#{$name} {
    0% {
      box-shadow: 0 0 0 0 rgba($color, 0.7);
    }

    70% {
      box-shadow: 0 0 0 10px rgba($color, 0);
    }

    100% {
      box-shadow: 0 0 0 0 rgba($color, 0);
    }
  }
}